

::selection {
    color: #fff !important;
    background: #44444494 !important;
}
a:hover, .uk-link:hover, .uk-link-toggle:hover .uk-link, .uk-link-toggle:focus .uk-link {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff; 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #444444; 
}