

::selection {
    color: #fff !important;
    background: #44444494 !important;
}
a:hover, .uk-link:hover, .uk-link-toggle:hover .uk-link, .uk-link-toggle:focus .uk-link {
    text-decoration: none !important;
}